<launch>
    <node name="param_adapter" pkg="effector" type="param_adapter" output="log" />
    <param name="frequency" value="10" />

    <param name="test_module" value="$(find effector)/test/unit/test_param_adapter.py"/>
    <test test-name="test_param_adapter" pkg="ros_pytest" type="ros_pytest_runner" />
</launch>
